<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_resource">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/image/favicons/favicon.png}"/>
    <link rel="icon" type="image/png" th:href="@{/image/favicons/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/image/favicons/apple.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/jquery-1.4.2.min.js}"></script>
    <script th:src="@{/js/jquery.ui.core.min.js}"></script>
    <script th:src="@{/js/jquery.ui.widget.min.js}"></script>
    <script th:src="@{/js/jquery.ui.tabs.min.js}"></script>
    <!-- jQuery tooltips -->
    <script th:src="@{/js/jquery.tipTip.min.js}"></script>
    <!-- Superfish navigation -->
    <script th:src="@{/js/jquery.superfish.min.js}"></script>
    <script th:src="@{/js/jquery.supersubs.min.js}"></script>
    <!-- jQuery form validation -->
    <script th:src="@{/js/jquery.validate_pack.js}"></script>
    <!-- jQuery popup box -->
    <script th:src="@{/js/jquery.nyroModal.pack.js}"></script>
    <!-- jQuery graph plugins -->
    <script th:src="@{/js/flot/jquery.flot.min.js}"></script>
    <!-- jQuery data tables -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/administry.js}"></script>
</div>
</body>
</html>
