<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_right">
    <div class="content-box">
        <header>
            <h3>注意事项：</h3>
        </header>
        <section>
            <dl>
                <dt>开题答辩时间：<a>3月14号</a></dt>
                <dt>中期检查时间：<a>4月11号</a></dt>
                <dt>毕业答辩时间：<a>5月16号</a></dt>
            </dl>
        </section>
    </div>
    <div class="content-box">
        <header>
            <h3>校内链接</h3>
        </header>
        <section>
            <dl>

            </dl>
        </section>
    </div>

</div>
</body>
</html>
