<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="common_header" id="top">
    <div class="wrapper"> <span>毕业论文提交管理系统</span></div>
    <!-- Top navigation -->
    <div id="topnav">
        <a href="#"><img class="avatar" th:src="@{image/user_32.png}" alt="" /></a>
        <span>|</span> <a th:href="${#request.getContextPath()+'/logout'}">注销</a><br />
    </div>
    <!-- End of Top navigation -->
    <!-- Main navigation -->
    <nav id="menu">
        <div th:replace="common/common_menu::common_menu"></div>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside>
        <b>欢迎您：</b>
        <a href="#">
            萝卜
        </a>&middot;
        <b>身份：</b>
        <a href="#">
           学生
        </a>
    </aside>
    <!-- End of Aside links -->
    </div>
</header>
</body>
</html>
