<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common_resource::common_resource"></div>
    <script type="text/javascript">
        $(document).ready(function () {

            /* setup navigation, content boxes, etc... */
            Administry.setup();
            loadMenu();
        });

    </script>
    <title>添加课题</title>
</head>
<body>
<div th:replace="/common/common_header::common_header"></div>

<div id="pagetitle">
    <div class="wrapper">
        <h1>位置>>课题列表</h1>
        <!-- Quick search box -->
        <form action="notexist" method="post"><input class="" type="text" id="q" name="q"/></form>
    </div>
</div>

<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">

            <div  class="column width6 first">
                <h2 class="center" align="center" th:text="${topic.topicName }"></h2>
                <hr/>
                <div style="margin-bottom: 20px">
                    <div  style="width: 40%;float: left" align="center" th:text="${'创建时间：'+#dates.format(topic.createTime, 'yyyy-MM-dd HH:mm') }"></div>
                    <div  style="float: right" align="center" th:text="${'选题时间：'+#dates.format(topic.modifyTime, 'yyyy-MM-dd HH:mm') }"></div>
                </div>
                <div style="margin-top: 50px">
                    <p class="ta-justify" th:text="${topic.topicDesc }"></p>
                </div>

            </div>

            <!-- Right column/section -->
            <aside class="column width2">
                <div th:replace="/common/common_right::common_right"></div>
            </aside>
            <!-- End of Right column/section -->

    </div>
    <!-- End of Wrapper -->
</div>


</body>
</html>
