<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.papermgt.mapper.ClassMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.paper.papermgt.model.ClassModel" >
	<result column="id" property="id"/>
	<result column="cname" property="cname"/>
	<result column="deptid" property="deptid"/>
</resultMap>
       
<!-- t_class table all fields -->
<sql id="Base_Columns" >
	  t.id as id,
  t.cname as cname,
  t.deptid as deptid
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Condition">
<trim  suffixOverrides="," >
<if test="model != null " >
	 <if test="model.id != null and model.id != ''" >
		and t.id = #{model.id}
	</if>
	 <if test="model.cname != null and model.cname != ''" >
		and t.cname = #{model.cname}
	</if>
	 <if test="model.deptid != null and model.deptid != ''" >
		and t.deptid = #{model.deptid}
	</if>
</if>
</trim>
</sql>
   

<!-- 插入班级记录 -->
<insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
  insert into t_class
(id,
cname,
deptid)
 values(#{id},
#{cname},
#{deptid})
</insert>

<!-- 批量插入班级记录 -->
<insert id="addBatch" parameterType="java.util.List" >
    insert into t_class
     (
      id,cname,deptid
     ) 
     values 
    <foreach collection="list" item="item" index="index" separator="," >
       (
       	       	         	  	#{item.id},
       	  	   	       	         	  	#{item.cname},
       	  	   	       	         	  	#{item.deptid}
       	  	   		   )
    </foreach>
  </insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_class set   cname=#{cname},
  deptid=#{deptid}
 where id=#{id}

 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_class set 
	<trim  suffixOverrides="," >
	<if test="cname != null  and cname != '' ">
		cname=#{cname},
	</if>
	<if test="deptid != null  and deptid != '' ">
		deptid=#{deptid},
	</if>
	</trim> where id=#{id}
</update>

<!-- 根据主键ID删除班级记录 -->
<delete id="deleteById" parameterType="Object">
	delete 	 from t_class
 where id = #{id}
</delete>

<!-- 根据条件删除班级记录 -->
<delete id="deleteBySelective" parameterType="Object">
	delete t from t_class t
	where 1=1 <include refid="Where_Condition"/>
</delete>
 
<!-- 根据主键id查询班级对象 -->
<select id="getById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Columns" /> 
	 from t_class t where id = #{id}
</select>

<!-- 根据条件查询单个班级对象  -->
<select id="getOneBySelective"  resultMap="BaseResultMap" parameterType="Object">
	select 
	<include refid="Base_Columns"/>
	from t_class t
	where 1=1 <include refid="Where_Condition"/>
	limit 0,1
</select>

<!-- 班级列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_class t
	where 1=1
	<include refid="Where_Condition"/>
</select>
  	
<!-- 查询班级列表 -->
<select id="queryList" resultMap="BaseResultMap">
	select 
	<include refid="Base_Columns"/>
	from t_class t
	where 1=1
	<include refid="Where_Condition"/>
	<if test="pager != null">
		<if test="pager.orderCondition!=null and pager.orderCondition!=''">
		${pager.orderCondition}
		</if>
	    limit #{pager.beginIndex},#{pager.pageSize}
	</if>
</select>
 	
</mapper>   
