<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.papermgt.mapper.StuTeaMapper" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.paper.papermgt.model.StuTeaModel" >
	<result column="id" property="id"/>
	<result column="stuname" property="stuname"/>
	<result column="teaname" property="teaname"/>
	<result column="createTime" property="createTime"/>
	<result column="modifyTime" property="modifyTime"/>
</resultMap>
       
<!-- t_stu_tea table all fields -->
<sql id="Base_Columns" >
	  t.id as id,
  t.stuname as stuname,
  t.teaname as teaname,
  t.create_time as createTime,
  t.modify_time as modifyTime
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Condition">
<trim  suffixOverrides="," >
<if test="model != null " >
	<if test="model.id != null" >
		and t.id = #{model.id}
	</if>
	 <if test="model.stuname != null and model.stuname != ''" >
		and t.stuname = #{model.stuname}
	</if>
	 <if test="model.teaname != null and model.teaname != ''" >
		and t.teaname = #{model.teaname}
	</if>
	<if test="model.createTime != null" >
		and t.create_time = #{model.createTime}
	</if>
	<if test="model.modifyTime != null" >
		and t.modify_time = #{model.modifyTime}
	</if>
</if>
</trim>
</sql>
   

<!-- 插入测试表记录 -->
<insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
  insert into t_stu_tea
(id,
stuname,
teaname,
create_time,
modify_time)
 values(#{id},
#{stuname},
#{teaname},
now(),
#{modifyTime})
</insert>

<!-- 批量插入测试表记录 -->
<insert id="addBatch" parameterType="java.util.List" >
    insert into t_stu_tea
     (
      id,stuname,teaname,create_time,modify_time
     ) 
     values 
    <foreach collection="list" item="item" index="index" separator="," >
       (
       	       	         	  	#{item.id},
       	  	   	       	         	  	#{item.stuname},
       	  	   	       	         	  	#{item.teaname},
       	  	   	       	         	  	#{item.createTime},
       	  	   	       	         	  	#{item.modifyTime}
       	  	   		   )
    </foreach>
  </insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_stu_tea set   stuname=#{stuname},
  teaname=#{teaname},
  modify_time=#{modifyTime}
 where id=#{id}

 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_stu_tea set 
	<trim  suffixOverrides="," >
	<if test="stuname != null  and stuname != '' ">
		stuname=#{stuname},
	</if>
	<if test="teaname != null  and teaname != '' ">
		teaname=#{teaname},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="modifyTime != null  ">
		modify_time=#{modifyTime},
	</if>
	</trim> where id=#{id}
</update>

<!-- 根据主键ID删除测试表记录 -->
<delete id="deleteById" parameterType="Object">
	delete 	 from t_stu_tea
 where id = #{id}
</delete>

<!-- 根据条件删除测试表记录 -->
<delete id="deleteBySelective" parameterType="Object">
	delete t from t_stu_tea t
	where 1=1 <include refid="Where_Condition"/>
</delete>
 
<!-- 根据主键id查询测试表对象 -->
<select id="getById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Columns" /> 
	 from t_stu_tea t where id = #{id}
</select>

<!-- 根据条件查询单个测试表对象  -->
<select id="getOneBySelective"  resultMap="BaseResultMap" parameterType="Object">
	select 
	<include refid="Base_Columns"/>
	from t_stu_tea t
	where 1=1 <include refid="Where_Condition"/>
	limit 0,1
</select>

<!-- 测试表列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_stu_tea t
	where 1=1
	<include refid="Where_Condition"/>
</select>
  	
<!-- 查询测试表列表 -->
<select id="queryList" resultMap="BaseResultMap">
	select 
	<include refid="Base_Columns"/>
	from t_stu_tea t
	where 1=1
	<include refid="Where_Condition"/>
	<if test="pager != null">
		<if test="pager.orderCondition!=null and pager.orderCondition!=''">
		${pager.orderCondition}
		</if>
	    limit #{pager.beginIndex},#{pager.pageSize}
	</if>
</select>
 	
</mapper>   
