<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common_resource::common_resource"></div>
    <script type="text/javascript">
        $(document).ready(function () {

            /* setup navigation, content boxes, etc... */
            Administry.setup();
            loadMenu();
        });

    </script>
    <title>添加课题</title>
</head>
<body>
<div th:replace="/common/common_header::common_header"></div>

<div id="pagetitle">
    <div class="wrapper">
        <h1>位置>>班级管理</h1>
        <!-- Quick search box -->
        <form action="notexist" method="post"><input class="" type="text" id="q" name="q"/></form>
    </div>
</div>

<div id="page">
    <!-- Wrapper -->



    <div class="wrapper">

        <section  class="column width6 first">
            <div class="colgroup leading" style="padding-right: 5px">
                <div class="column width3 first">
                    <form id="addcollege"  method="post" th:action="${#request.getContextPath()+'/mgt/addDept'}">

                        <fieldset>
                            <legend>专业</legend>
                            <p>
                                <label class="required" for="collegeid">所属学院：</label><br/>
                                <select id="collegeid" name="collegeid" >
                                    <option th:each="item:${collList}" th:value="${item.id}" th:text="${item.cname}"></option>
                                </select>
                            </p>
                            <p>
                                <label class="required" for="deptid">所属专业：</label><br/>
                                <select id="deptid" name="deptid" >
                                    <option th:each="item:${deptList}" th:value="${item.id}" th:text="${item.dname}"></option>
                                </select>
                            </p>
                            <p>
                                <label class="required" for="id">班级编号：</label><br/>
                                <input type="text" id="id" class="full" value="" name="id"/>
                            </p>
                            <p>
                                <label class="required" for="cname">班级名称：</label><br/>
                                <input type="text" id="cname" class="full" value="" name="cname"/>
                            </p>

                            <p>
                                <input type="submit" class="btn btn-green big" value="添加专业"/>
                                or
                                <input type="reset" class="btn" value="重置"/>
                            </p>

                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="colgroup leading">
                <div class="column width3 first">
                    <fieldset>
                        <legend>已有班级</legend>
                        <table>
                            <tr style="margin-top: 5px; padding-right: 4px;" th:each="coll:${classList}">
                                <td th:text="${coll.cname}"></td>
                                <td><a th:href="${#request.getContextPath()+'/mgt/3/'+coll.id+'/delete'}" th:text="删除"></a></td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>


            <div class="clear">&nbsp;</div>
        </section>

        <aside class="column width2">
            <div class="content-box">
                <header>
                    <h3>注意事项：</h3>
                </header>
                <section>
                    <dl>
                        <dt>开题答辩时间：<a>3月14号</a></dt>
                        <dt>中期检查时间：<a>4月11号</a></dt>
                        <dt>毕业答辩时间：<a>5月16号</a></dt>
                    </dl>
                </section>
            </div>
            <div class="content-box">
                <header>
                    <h3>校内链接</h3>
                </header>
                <section>
                    <dl>

                    </dl>
                </section>
            </div>
        </aside>
    </div>
    <!-- End of Wrapper -->
</div>


</body>
</html>
