<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/common_resource::common_resource"></div>
    <script type="text/javascript">
        $(document).ready(function () {

            /* setup navigation, content boxes, etc... */
            Administry.setup();
            loadMenu();
        });

    </script>
    <title>添加用户</title>
</head>
<body>
<div th:replace="/common/common_header::common_header"></div>

<div id="pagetitle">
    <div class="wrapper">
        <h1>位置>>发布通知</h1>
        <!-- Quick search box -->
        <form action="notexist" method="post"><input class="" type="text" id="q" name="q"/></form>
    </div>
</div>

<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">

        <section class="column width6 first">

            <form id="sampleform" method="post" th:action="${#request.getContextPath()+'/mgt/addNotice'}">

                <p>
                    <label class="required" for="ntitle">标题：</label><br/>
                    <input type="text" id="ntitle" class="half title" value="" name="ntitle"/>
                </p>

                <p>
                    <label class="required" for="collegeid">所属学院：</label><br/>
                    <select id="collegeid" name="scope" class="half" >
                        <option value="all">--所有学员--</option>
                        <option th:each="item:${collList}" th:value="${item.id}" th:text="${item.cname}"></option>
                    </select>
                </p>

                <p>
                    <label class="required" for="ncontent">内容：</label><br/>
                    <textarea id="ncontent" class="large full" name="ncontent"></textarea>
                </p>


                <p style="float: right">
                    <input type="submit" class="btn btn-green big" value="添加"/> &nbsp;
                    <input type="reset" class="btn btn-green big" value="取消"/>
                </p>
                <div class="clear">&nbsp;</div>

            </form>
        </section>

        <aside class="column width2">
            <div class="content-box">
                <header>
                    <h3>注意事项：</h3>
                </header>
                <section>
                    <dl>
                        <dt>开题答辩时间：<a>3月14号</a></dt>
                        <dt>中期检查时间：<a>4月11号</a></dt>
                        <dt>毕业答辩时间：<a>5月16号</a></dt>
                    </dl>
                </section>
            </div>
            <div class="content-box">
                <header>
                    <h3>校内链接</h3>
                </header>
                <section>
                    <dl>

                    </dl>
                </section>
            </div>
        </aside>

    </div>
    <!-- End of Wrapper -->
</div>


</body>
</html>
